# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Data & outputs (ignored on purpose)
data/
results/
pp/
Walmart_Project_backup/

# Model artifacts (optional: ignore if large)
*.pkl

# OS
.DS_Store
